/******************************************************************

		Name: style.css
		Description: 
		Author: Thomas Gull
		Author URI: gulldesign.ch
		Version: v2.0
		Release: 2021-04-09
		License: Public Licence

******************************************************************/
/*------------------------------------------------------------------------------
	GENERAL
------------------------------------------------------------------------------*/


/*==============================================================================
  MEDIA QUERIES
==============================================================================*/
/*------------------------------------------------------------------------------
  PRINT
------------------------------------------------------------------------------*/
@media print {
	
}

/*------------------------------------------------------------------------------
  MOBILE
------------------------------------------------------------------------------*/
/* max-width 640px, mobile-only styles, use when QAing mobile issues */
@media only screen and (max-width: 40em) {
	
}

/* min-width 641px and max-width 1024px, use when QAing tablet-only issues */
@media only screen and (min-width: 40.063em) and (max-width: 64em) {
	
}

/* min-width 1025px, large screens */
@media only screen and (min-width: 64.063em) {
		
}
